<!-- <section class="about">
  <div class="container bgrd">
    <div class="tab-container">
      <h2 class="title">About Us</h2>
      <h3 class="subtitle">
        Our сraftsmanship: сreating unique handmade furniture
      </h3>
      <p class="description">
        Discover the inspiration behind our modern and minimalist designs, and
        see how we bring them to life through our skilled craftsmanship.
      </p>
      <ul class="benefits-list mob-contr">
        <li class="benefits-list-item">
          <p class="amount">5+</p>
          <p class="statics">
            Years of experience creating handcrafted furniture
          </p>
        </li>
        <li class="benefits-list-item">
          <p class="amount">100%</p>
          <p class="statics">
            Sustainably sourced materials used in all of our furniture
          </p>
        </li>
        <li class="benefits-list-item">
          <p class="amount">500+</p>
          <p class="statics">
            Unique furniture designs crafted by our skilled artisans
          </p>
        </li>
      </ul>
    </div>
    <div class="furniture">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="./img/aboutus.jpg 1x, ./img/aboutus2x.jpg 2x"
          type="image/jpg"
        />
        <source
          media="(min-width: 768px)"
          srcset="./img/aboutus-tab.jpg 1x, ./img/aboutus-tab2x.jpg 2x"
          type="image/jpg"
        />
        <source
          media="(min-width: 320px)"
          srcset="./img/aboutus-mob.jpg 1x, ./img/aboutus-mob2x.jpg 2x"
          type="image/jpg"
        />
        <img
          class="card-img"
          src="./img/aboutus-mob.jpg"
          alt="furniture"
          width="704"
        />
      </picture>
    </div>
  </div>
</section> -->
