
<section class="bestseller-section" id="bestsellers">
    <div class="bestseller-container container">
        <h2 class="bestseller-title">Bestsellers</h2>

    <!-- Дів з контентом -->

        <div class="bestseller-main-content">

    <!-- Перший елемент головного діву з контентом    -->

    <div class="img-main-bestseller main-bestseller">
            <picture class="img-item">
                <source srcset="../img/platformbed.jpg 1x, ../img/platformbed2x.jpg 2x" media="(min-width: 1140px)" />
                <source srcset="../img/platformbed-tab.jpg 1x, ../img/platformbed-tab2x.jpg 2x" media="(min-width: 768px)" />
                <source srcset="../img/platformbed-mob.jpg 1x, ../img/platformbed-mob2x.jpg 2x" media="(min-width: 320px)" />
                <img src="../img/platformbed.jpg" alt="big bed" class="bestseller-image" width="704" />
            </picture>
            <h3 class="bestseller-text">The modern platform bed</h3>
            <p class="main-bestseller-price">750$</p>
    </div>

    <!-- Другий елемент головного діву з контентом -->

    <!-- Список який має бути розміщений сіткою по два в рядку -->

<div class="bestselers-list-container"> <ul class="bestselers-list">
        <li class="bestselers-list-item">
             <div class="img-bestseller">
                <picture class="img-item">
                <source srcset="../img/loungechair.jpg 1x, ../img/loungechair2x.jpg 2x" media="(min-width: 1140px)" />
                <source srcset="../img/loungechair-tab.jpg 1x, ../img/loungechair-tab2x.jpg 2x" media="(min-width: 768px)" />
                <source srcset="../img/loungechair-mob.jpg 1x, ../img/loungechair-mob2x.jpg 2x" media="(min-width: 320px)" />
                <img src="../img/loungechair.jpg" alt="lounge chair" class="bestseller-image" width="704" /> </picture>
                    <h3 class="bestseller-text">The Cozy Lounge Chair</h3>
                    <p class="bestseller-price">230$</p>
 </div>
        </li>
         <li class="bestselers-list-item">
             <div class="img-bestseller">
                <picture class="img-item">
                <source srcset="../img/accentchair.jpg 1x, ../img/accentchair2x.jpg 2x" media="(min-width: 1140px)" />
                <source srcset="../img/accentchair-tab.jpg 1x, ../img/accentchair-tab2x.jpg 2x" media="(min-width: 768px)" />
                <source srcset="../img/accentchair-mob.jpg 1x, ../img/accentchair-mob2x.jpg 2x" media="(min-width: 320px)" />
                <img src="../img/accentchair.jpg" alt="accent chair" class="bestseller-image" width="704" /></picture>
                    <h3 class="bestseller-text">The industrial accent chair</h3>
                    <p class="bestseller-price">250$</p>
 </div>
         </li>
         <li class="bestselers-list-item hide-mob">
             <div class="img-bestseller-desk">
                <picture class="img-item">
                <source srcset="../img/sleekstand.jpg 1x, ../img/sleekstand2x.jpg 2x" media="(min-width: 1140px)" />
                <source srcset="../img/sleekstand-tab.jpg 1x, ../img/sleekstand-tab2x.jpg 2x" media="(min-width: 768px)" />
                <img src="../img/sleekstand.jpg" alt="sleek stand" class="bestseller-image" width="704" /></picture>
                    <h3 class="bestseller-text">The sleek stand</h3>
                    <p class="bestseller-price">300$</p>
             </div>
        </li>
         <li class="bestselers-list-item hide-mob">
             <div class="img-bestseller-desk">
                <picture class="img-item">
                <source srcset="../img/minimalistsofa.jpg 1x, ../img/minimalistsofa2x.jpg 2x" media="(min-width: 1140px)" />
                <source srcset="../img/minimalistsofa-tab.jpg 1x, ../img/minimalistsofa-tab2x.jpg 2x" media="(min-width: 768px)" />
                <img src="../img/minimalistsofa.jpg" alt="minimalist sofa" class="bestseller-image" width="704" /></picture>
                    <h3 class="bestseller-text">The minimalist sofa</h3>
                    <p class="bestseller-price">650$</p>
             </div>
         </li>
</ul>
</div>
        </div>
    </div>
</section>
