<footer class="footer">
  <div class="container footer-container">
    <div class="footer-row">
      <div class="footer-main">
        <a class="footer-logo" href="./index.html">
          <svg class="icon-logo" width="100" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <nav class="footer-navigation">
          <ul class="footer-nav-list">
            <li class="footer-list-item">
              <a class="footer-nav-link" href="#about"> About us </a>
            </li>
            <li class="footer-list-item">
              <a class="footer-nav-link" href="#products"> Our products </a>
            </li>
            <li class="footer-list-item">
              <a class="footer-nav-link" href="#prices"> Prices </a>
            </li>
            <li class="footer-list-item">
              <a class="footer-nav-link" href="#bestsellers"> Bestsellers </a>
            </li>
            <li class="footer-list-item">
              <a class="footer-nav-link" href="#reviews"> Reviews </a>
            </li>
          </ul>
        </nav>
        <address class="footer-address">
          <ul class="contacts-list">
            <li class="contacts-list-item">
              <a
                class="contacts-link"
                href="https://www.google.com/maps?q=%D0%9E%D0%B1%D0%BE%D0%BB%D0%BE%D0%BD%D1%81%D1%8C%D0%BA%D0%B8%D0%B9+%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82,+14,+%D0%9A%D0%B8%D1%97%D0%B2,+04205&ftid=0x40d4d20e3b042c97:0x59eb7bd7f77d8916&hl=uk-UA&gl=ua&coh=186578&entry=gps&lucs=,47076871,47071704&g_ep=CAISBjYuNzguMxgAINeCAyoSLDQ3MDc2ODcxLDQ3MDcxNzA0QgJVQQ%3D%3D&g_st=iv"
                target="_blank"
                >Obolonsky Prospect, 14, Kyiv</a
              >
            </li>
            <li class="contacts-list-item time">
              <p class="daily-text">Daily 10:00-21:00</p>
            </li>
            <li class="contacts-list-item">
              <a class="contacts-link" href="tel:+380669384758"
                >+380669384758</a
              >
            </li>
            <li class="contacts-list-item">
              <a class="contacts-link" href="tel:+380679384758"
                >+380679384758</a
              >
            </li>
            <li class="contacts-list-item email">
              <a class="contacts-link" href="mailto:minimal.furniture@gmail.com"
                >minimal.furniture@gmail.com</a
              >
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-social-list">
        <a
          href="https://www.facebook.com"
          target="_blank"
          class="footer-social-list-item"
        >
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
        <a
          href="https://www.instagram.com"
          target="_blank"
          class="footer-social-list-item"
        >
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-insta"></use>
          </svg>
        </a>
        <a
          href="https://www.youtube.com"
          target="_blank"
          class="footer-social-list-item"
        >
          <svg class="footer-social-icon" width="28" height="28">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </div>
    </div>

    <p class="footer-agree">
      By using this website, you agree to the
      <a class="footer-agree-link" href="#">Terms of Service</a> and
      <a class="footer-agree-link" href="#">Privacy Policy</a>
    </p>
  </div>
</footer>
