<section class="hero-section">
    <div class="hero-container container">
        <div class="bg-img">
            
                <h1 class="hero-title">Modern and minimalist furniture for you</h1>
            </div>
        <div class="div-text-btn">
            <p class="hero-text">Add a touch of elegance to your space with handcrafted furniture pieces</p>
            <a href="#subscribe" class="hero-link link">Subscribe</a>
        </div>
  <div class="hero-container container">
    <div class="bg-img">
      <div class="div-hero-title">
        <h1 class="hero-title">Modern and minimalist furniture for you</h1>
      </div>
    </div>
    <div class="div-text-btn">
      <p class="hero-text">
        Add a touch of elegance to your space with handcrafted furniture pieces
      </p>
      <a href="#subscribe" class="hero-link link">Subscribe</a>
    </div>
  </div>
</section>
