<section class="hero-section">
    
    <div class="hero-container container">
        <!-- <h1 class="hero-title">Modern and minimalist furniture for you</h1> -->
        <div class="bg-img">
            <h1 class="hero-title">Modern and minimalist furniture for you</h1>
            <!-- <div class="first-bg-img img-bg-item"></div>
            <div class="second-bg-img img-bg-item"></div>
             -->
         </div>
            
            <div class="img-text">
                    <div class="third-bg-img img-bg-item"></div>
                    <div class="div-text-btn">
                        <p class="hero-text">Add a touch of elegance to your space with handcrafted furniture pieces</p>
                        <a href="#subscribe" class="hero-link link">Subscribe</a>
                    </div>
                </div>
    </div>
</section>