<section id="products">
  <div class="product-container container">
    <h2 class="products-title">Our products</h2>
    <div class="products-cards">
      <ul class="products-list">
        <li class="products-item">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ..//img/storagesolutions-mob.jpg   1x,
                ..//img/storagesolutions-mob2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ..//img/storagesolutions-tab.jpg   1x,
                ..//img/storagesolutions-tab2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ..//img/storagesolutions.jpg   1x,
                ..//img/storagesolutions2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="..//img/storagesolutions-mob.jpg"
              alt="Storage solutions"
              width="343"
            />
          </picture>
          <h3 class="product-item-title">Minimalist storage solutions</h3>
        </li>
        <li class="products-item">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ..//img/minimalistseating-tab.jpg   1x,
                ..//img/minimalistseating-tab2x.jpg 2x
              "
              type="image/jpg"
            />
            <source
              media="(min-width: 1440px)"
              srcset="
                ..//img/minimalistseating-tab.jpg   1x,
                ..//img/minimalistseating-tab2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="..//img/minimalistseating-tab.jpg"
              alt="Handcrafted seating"
              width="344"
            />
          </picture>
          <h3 class="product-item-title">Handcrafted minimalist seating</h3>
        </li>
        <li class="products-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ..//img/simpletables.jpg   1x,
                ..//img/simpletables2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="..//img/simpletables.jpg"
              alt="Simple tables"
              width="312"
            />
          </picture>
          <h3 class="product-item-title">Sleek and simple tables</h3>
        </li>
        <li class="products-item">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ..//img/seatingforeveryspace.jpg   1x,
                ..//img/seatingforeveryspace2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="..//img/seatingforeveryspace.jpg"
              alt="Seating for every space"
              width="312"
            />
          </picture>
          <h3 class="product-item-title">Minimalist seating for every space</h3>
        </li>
      </ul>
    </div>
  </div>
</section>
