<section id="price" class="price-section">
    <h2 class="visually-hidden">
        Chairs Tables Dressers Sofas Price
    </h2>
    <ul class="price-list">
        <li class="price-item">
            <span class="price-item-name">Chairs</span>
            <span class="price-item-cost">from 200&#8372;</span>
        </li>
        <li class="price-item">
            <span class="price-item-name">Tables</span>
            <span class="price-item-cost">from 250&#8372;</span>
        </li>
        <li class="price-item">
            <span class="price-item-name">Dressers</span>
            <span class="price-item-cost">from 300&#8372;</span>
        </li>
        <li class="price-item">
            <span class="price-item-name">Sofas</span>
            <span class="price-item-cost">from 500&#8372;</span>
        </li>
    </ul>
</section>