<section id="subscribe" class="subscription">
  <div class="container subscribe-container">
    <div class="subscription-desktop">
      <div class="subscription-desktop-form">
        <h2 class="title visually-hidden">Subscription</h2>
        <h3 class="subtitle">Newsletter</h3>
        <p class="subscription-paragraph">
          Every week we will send you new designs and information about sales.
        </p>
        <form>
          <div class="sub-field">
            <label for="user-name" class="input-lable">Name</label>
            <div class="input-wrap">
              <input
                type="text"
                name="user-name"
                class="sub-input"
                id="user-name"
                placeholder="Name"
                minlength="3"
                required
              />
              <svg class="error-icon" width="24" height="24">
                <use href="./img/icons.svg#notice"></use>
              </svg>
            </div>
          </div>

          <div class="modal-field">
            <label for="user-email" class="input-lable">Email</label>
            <div class="input-wrap">
              <input
                type="email"
                name="user-email"
                class="sub-input"
                id="user-email"
                placeholder="Email"
                minlength="3"
                required
              />
              <svg class="error-icon" width="24" height="24">
                <use href="./img/icons.svg#notice"></use>
              </svg>
            </div>
          </div>

          <div class="modal-checkbox">
            <input
              type="checkbox"
              name="user-privacy"
              id="user-privacy"
              value="true"
              class="checkbox visually-hidden"
            />
            <label for="user-privacy" class="cb-label"
              ><span class="cb-label-span">
                <svg class="cb-icon" width="13" height="13">
                  <use href="./img/icons.svg#icon-Property-1check"></use>
                </svg>
              </span>
              Agree to subscribe to the newsletter</label
            >
          </div>
          <button type="submit" class="form-btn">Send</button>
        </form>
      </div>

      <picture>
        <source
          media="(min-width:1440px)"
          srcset="./img/subscription.jpg 1x, ./img/subscription2x.jpg 2x"
          type="image/jpg"
          width="460"
        />

        <source
          media="(min-width:768px)"
          srcset="
            ./img/subscription-tab.jpg   1x,
            ./img/subscription-tab2x.jpg 2x
          "
          type="image/jpg"
          width="704"
        />

        <source
          media="(max-width: 767px)"
          srcset="
            ./img/subscription-mob.jpg   1x,
            ./img/subscription-mob2x.jpg 2x
          "
          type="image/jpg"
          width="343"
        />

        <img src="./img/subscription-mob.jpg" alt="Minimal Sofa" />
      </picture>
    </div>
  </div>
</section>
