<section class="subscription" >
  <div class="container">
    <h2 class="title">Subscription</h2>
    <div class="subscription-desktop">
        <h3 class="subtitle">
          Newsletter
        </h3>
        <p class="subscription-paragraph">
          Every week we will send you new designs and information about sales.
        </p>
          <form class="sub-form">
              <div class="sub-field">
                <label for="user-name" class="input-lable">Name</label>
                <div class="">
                  <input
                  type="text"
                  name="user-name"
                  class="sub-input"
                  id="user-name"
                  placeholder="Name">
                  
                </div>
              </div>
              
      
             <div class="sub-field">
                <label for="user-email" class="input-lable">Email</label>
                <div class="">
                  <input
                  type="email"
                  name="user-email"
                  class="sub-input"
                  id="user-email"
                  placeholder="Email">
                 
                </div>
             </div>
      
    
        
          <div class="sub-checkbox">
              <input type="checkbox"
              name="user-privacy"
              id="user-privacy"
              value="true"
              class="checkbox visually-hidden">
              <label for="user-privacy" class="cb-label"><span class="cb-label-span">
                <svg class="cb-icon" width="13" height="13">
                  <use href="../img/icons.svg#icon-accept"></use>
                </svg>
              </span> Agree to subscribe to the newsletter</label>
          </div>
              <button type="submit" class="form-btn">Send</button>
            </form>
    </div>
<!-- <picture>
   
  <source srcset="./img/subscription-mob.jpg 1x, ./img/subscription-mob2x.jpg 2x"
  alt="Minimal Furniture" width="343" media="(min-width: 320px)">

  <source srcset="./img/subscription-tab.jpg 1x, ./img/subscription-tab2x.jpg 2x"
  alt="Minimal Furniture" width="704" media="(min-width: 768px)">
    
  <img src="./img/subscription.jpg" alt="Minimal Furniture">

</picture> -->

<picture>
   
    <source
    media="(min-width: 320px)"
    srcset="./img/subscription-mob.jpg 1x,
    ./img/subscription-mob2x.jpg 2x"
          type="image/jpg"
    >

    <source
    media="(min-width: 768px)"
    srcset="./img/subscription-tab.jpg 1x,
    ./img/subscription-tab2x.jpg 2x"
          type="image/jpg"
    >

    <source
    media="(min-width: 1440px)"
    srcset="./img/subscription.jpg 1x,
    ./img/subscription2x.jpg 2x"
          type="image/jpg"
    >
  
 
      
    <img src="../img/subscription-mob.jpg" alt="Minimal Furniture"
         width="343" >
  
  </picture>
       
  
  </div>
</section>