.container {
    width: 100%;
    height: 100%;
    max-width: 375px;
    margin: 0 auto; 
  }

.tab-container {
  background: var(--light-blue, #F7FAFF);
  padding: 0 16px 30px;
  margin-bottom: 30px;
}
  
.title {
  color: var(--blue-font, #0A224A);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  left: 50px;
  margin-bottom: 30px;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  width: 30px; 
  height: 1px;  
  background-color: currentColor;
  left: -50px; 
  top: 50%; 
}

.subtitle {
  color: var(--blue-font, #0A224A);
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 30px;
}
.description {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}
.mob-contr {
  max-width: 170px;
  margin: 0 auto;
}

.amount {
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px; 
  text-transform: uppercase;
  margin-bottom: 14px;
}

.statics {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.furniture .bgrd {
  background: none;
}

  @media (min-width: 768px) {
    .container {
      max-width: 768px;
    }
    .tab-container {
      padding: 36px 64px;
      margin-bottom: 30px;
    }
    .subtitle {
    font-size: 32px;
    line-height: 1.4;
    }
    .description {
      font-size: 18px;
    }
    .benefits-list {
      display: flex;
      gap: 33px;
      max-width: 100%;     
    }
    .benefits-list-item {
      flex-basis: calc((100% - 66px) / 3); 
    }
    .statics {
      text-align: start;
      font-size: 18px;
    }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .bgrd {
    display: flex;
    gap: 24px;
  }
  .tab-container {
    padding: 36px 69px 37px;
    margin-bottom: 30px;
  }
}
