.about-container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto; 
  }

.about-content {
  background: var(--light-blue, #F7FAFF);
  padding: 64px 16px;
}
  
.about-title {
  color: var(--blue-font, #0A224A);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  left: 50px;
  margin-bottom: 30px;
  position: relative;
}

.about-title::after {
  content: "";
  position: absolute;
  width: 30px; 
  height: 1px;  
  background-color: currentColor;
  left: -50px; 
  top: 50%; 
}

.about-subtitle {
  color: var(--blue-font, #0A224A);
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 30px;
}
.about-description {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
}
.mob-contr {
  max-width: 170px;
  margin: 0 auto;
}

.about-amount {
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px; 
  text-transform: uppercase;
  margin-bottom: 14px;
}

.about-statics {
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.about-furniture {
  background: none;
}

  @media (min-width: 768px) {
    .about-container {
      max-width: 768px;
      padding: 0 32px;
    }
    .about-content {
      padding: 36px 64px;
      margin-bottom: 30px;
    }
    .about-subtitle {
    font-size: 32px;
    line-height: 1.4;
    }
    .about-description {
      font-size: 18px;
    }
    .about-list {
      display: flex;
      gap: 33px;
      max-width: 100%;     
    }
    .about-list-item {
      flex-basis: calc((100% - 66px) / 3); 
    }
    .about-statics {
      text-align: start;
      font-size: 18px;
    }
}

@media (min-width: 1440px) {
  .about {
    padding-top: 100px;
  }

  .about-container {
    max-width: 1440px;
    padding: 0 60px;
  }

  .bgrd {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .about-content{
    max-width: 760px;
    padding: 36px 69px 34px;
    margin-bottom: 0;
  }
}
