.container {
    width: 100%;
    height: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 15px 0 15px;  
   
  }
 
  .bgrd {
    background: var(--light-blue, #F7FAFF);
  
  }
  .title {
      color: var(--blue-font, #0A224A);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  left: 50px;
  margin-bottom: 30px;
  position: relative;
  
  }
  .title::after {
    content: "";
    position: absolute;
    width: 30px; 
    height: 1px;  
    background-color: currentColor;
    left: -50px; 
    top: 50%; 
  }
  .subtitle {
    color: var(--blue-font, #0A224A);
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 30px;
  }
  .description {
    font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 30px;
  }
  .mob-contr {
    max-width: 170px;
  }
  .benefits-list {
    margin: 0 auto;
    margin-bottom: 14px;
   
  }
  .amount {
    text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 75px; 
  text-transform: uppercase;
  }
  .statics {
    text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  }

  @media (min-width: 768px) {
    .container {
     max-width: 736px;}
   .tab-container {
    max-width: 567px;
    margin: 0 auto;
   }
   .subtitle {
    font-size: 32px;
    line-height: 1.4;
   }
   .description {
    font-size: 18px;
   }
    .benefits-list {
     display: flex;
     gap: 33px;
     max-width: 100%;     
    }
    .benefits-list-item {
     flex-basis: calc((100% - 66px) / 3); 
    }
    .statics {
     text-align: start;
     font-size: 18px;
    }
 }
 @media (min-width: 1158px) {
    .container {
    max-width: 1128px;}
 }