
.bestseller-main-content {
    margin-bottom: 64px;   
}
.bestseller-title {
    color: var(--blue-font, #0A224A);
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 21px;
}
.img-item {
    /* margin-bottom: 14px; */
}
.bestseller-text {
    color: var(--blue-font, #0A224A);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 14px;
}
.bestseller-price {
    margin-bottom: 30px;
    color: var(--blue-font, #0A224A);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}
.main-bestseller-price {
    margin-bottom: 30px;
    color: var(--blue-font, #0A224A);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
}
.img-bestseller {
    margin-bottom: 30px;
}
.img-main-bestseller {
    margin-bottom: 30px;
}
.hide-mob {
    display: none;
}
/* ------------------TAB----------------------- */

@media screen and (min-width: 768px){
.container {
    max-width: 768px;
    }
.hide-mob {
    display: block;
}
.bestseller-main-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 68px;
}
.bestseller-title {
    font-size: 32px;
    margin-bottom: 30px;
}
.bestseller-text {
    font-size: 18px;
    margin-top: 15px;
}
.bestseller-price {
    font-size: 18px;
}
.main-bestseller-price {
    font-size: 18px;
}

.main-bestseller {
    margin-bottom: 32px;
        }

.img-bestseller {
    margin-bottom: 32px;
}
.bestselers-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* row-gap: 20px;
    column-gap: 32px;  -------елементи стають вертикально, зявляється відступ справа в елементах списку-----*/
    justify-content: space-between;
}

.bestseller-text {
    color: var(--blue-font, #0A224A);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}
.bestseller-price {
    color: var(--blue-font, #0A224A);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}
.main-bestseller-price {
    color: var(--blue-font, #0A224A);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 30px;
}
}

/* ---------------DESKTOP--------------- */

@media screen and (min-width: 1440px) {
.bestseller-container{
    max-width: 1156px;
    padding: 0 32px;
        }

.bestseller-main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 75px;
}
.bestselers-list-container {
    max-width: calc(50% - 15px);
}
.img-main-bestseller{
    max-width: calc(50% - 5px);
}
.bestseller-text {
    margin-top: 15px;
}
.img-bestseller {
    margin-bottom: 25px;
}
}


