/**------------------------------------ mobile version--------------------- */
.footer {
  background-color: var(--blue-font);
  padding-top: 36px;
  padding-bottom: 16px;
}
.footer-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  position: relative;
}
.footer-logo {
  color: var(--white-color);
  max-width: 100px;
  height: 28px;
  display: flex;
  align-items: center;
  /* margin-bottom: 42px; */
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 36px;
  margin-top: 42px;
}
.footer-nav-link {
  color: var(--white-color);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.5;
}
.footer-logo svg {
  fill: var(--white-color);
  width: 100%;
  height: 100%;
}

.contacts-list {
  color: var(--white-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01em;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.time {
  margin-bottom: 27px;
}
.email {
  display: none;
}

.fsocial-list {
  display: flex;
  gap: 16px;
}
.social-link {
  max-width: 28px;
  max-height: 28px;
  color: var(--white-color);
}
.social-link svg {
  fill: var(--white-color);
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.social-link svg:hover {
  transform: scale(1.2);
}
.footer-agree {
  color: var(--white-color);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.1em;
  opacity: 0.6;
}
.service-link {
  text-decoration: underline;
}
.footer-text {
  margin-top: 64px;
}

.social-container {
  position: absolute;
  right: 16px;
  top: 0;
}

/**------------------------------------ tablet version--------------------- */
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 46px;
    padding-bottom: 36px;
  }
  .footer-container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .footer-logo {
    max-width: 127px;
  }

  .footer-nav-list {
    gap: 16px;
    /* margin-bottom: 64px; */
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-navigation {
    display: flex;
    gap: 249px;
  }

  .social-link {
    max-width: 40px;
    max-height: 40px;
  }
  .social-link svg {
    width: 100%;
    height: 100%;
  }
  .footer-nav-link {
    font-size: 18px;
  }

  .footer-address {
    position: absolute;
    top: 60px;
    left: 32px;
  }
  .contacts-list {
    font-size: 19px;
    letter-spacing: 0.01em;
    gap: 24px;
  }

  .social-container {
    right: 32px;
    top: 0px;
  }
  .time {
    margin-bottom: 64px;
  }
  .email {
    display: block;
  }
  .footer-agree {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.07em;
  }
  /* .base-container {
    margin-bottom: 155px;
  } */
}
/**------------------------------------ desktop version--------------------- */
@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 36px;
    padding-bottom: 36px;
    position: relative;
  }
  .footer-container {
    max-width: 1440px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .footer-navigation {
    gap: 217px;
  }
  .footer-address {
    position: absolute;
    top: 67px;
    left: 60px;
  }
  .footer-nav-list {
    flex-direction: row;
    gap: 30px;
    /* transform: translateY(-25%); */
  }
  .contacts-list {
    flex-wrap: wrap;
    width: 820px;
    height: 70px;
    gap: 24px 87px;
    margin-bottom: 0;
  }
  .time {
    margin-bottom: 0;
  }
  ÷ .social-container {
    right: 60px;
    top: 0px;
  }
}
