/**------------------------------------ mobile version--------------------- */
.footer {
  width: 100%;
  padding-top: 36px;
  padding-bottom: 16px;
  background-color: var(--blue-font);
}

.footer-row {
  display: flex;
  margin-bottom: 64px;
}

.footer-main {
  width: 100%;
}

.footer-logo {
  color: var(--white-color);
  max-width: 100px;
  height: 28px;
  display: block;
  margin-bottom: 42px;
}

.footer-logo svg {
  fill: var(--white-color);
  width: 100%;
  height: 100%;
}

.footer-navigation {
  margin-bottom: 36px;
}
.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-nav-link {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.contacts-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.address-list {
  margin-bottom: 35px;
}

.contacts-list {
  color: var(--white-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.01em;
}

.time {
  margin-bottom: 27px;
}
.email {
  display: none;
}

.footer-agree-link {
  text-decoration: underline;
}
.footer-social-list {
  display: inline-flex;
  height: 28px;
  gap: 16px;
}

.footer-social-list-item {
  width: 28px;
  height: 28px;
  color: var(--white-color);
}

.footer-social-list-item svg {
  fill: var(--white-color);
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.footer-social-list-item svg:hover {
  transform: scale(1.2);
}
.footer-agree {
  color: var(--white-color);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.1em;
  opacity: 0.6;
}
/*!**------------------------------------ tablet version--------------------- *!*/
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 46px;
    padding-bottom: 36px;
  }

  .footer-main {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }

  .footer-row {
    margin-bottom: 64px;
  }

  .footer-logo {
    grid-column: 1/2;
    grid-row: 1;
    max-width: 127px;
    margin-bottom: 32px;
  }

  .footer-address {
    grid-row: 2;
  }

  .footer-nav-link {
    font-size: 18px;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    font-size: 19px;
    letter-spacing: 0.01em;
    gap: 8px;
  }

  .footer-navigation {
    grid-column: 2;
    grid-row: 1/3;
    margin-bottom: 0;
  }
  .footer-nav-list {
    gap: 16px;
  }
  .time {
    margin-bottom: 64px;
  }
  .email {
    display: block;
  }

  .footer-social-list {
    height: 40px;
  }
  .footer-social-list-item {
    width: 40px;
    height: 40px;
    color: var(--white-color);
  }

  .footer-social-list-item svg {
    width: 100%;
    height: 100%;
  }
  .footer-agree {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.07em;
  }
}
/**------------------------------------ desktop version--------------------- */

@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .footer-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .footer-row {
    margin-bottom: 35px;
  }

  .footer-navigation {
    display: flex;
    order: 0;
    width: 502px;
    margin-left: 217px;
  }
  .footer-nav-list {
    flex-direction: row;
    gap: 30px;
  }

    .footer-address {
      display: flex;
      gap: 87px;
    }

  .footer-social-list {
    gap: 30px;
  }

  .contacts-list {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .contacts {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 82px;
  }

  .contacts .contacts-list-item:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .contacts .contacts-list-item:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
  }

  .time {
    margin-bottom: 0;
  }
}
