.header {
  background-color: var(--light-blue);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  max-width: 375px;
  margin: 0 auto;
}

.logo {
  padding: 32px 0;
}

.icon-logo,
.icon-button,
.mob-icon-button {
  fill: var(--blue-font);
}

button {
  background-color: transparent;

  border: 0;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1440px) {
  .mob-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);

    overflow-y: scroll;
    z-index: 2;

    transform: translate(0%, 0%) scale(1);
    transition: transform 650ms cubic-bezier(0.4, 0, 0.5, 1);
  }
}

.mob-header {
  background-color: var(--light-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 114px;
}

@media screen and (max-width: 1440px) {
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translate(-100%, 0%) scale(1);
  }
}

.mob-nav {
  display: flex;
  justify-content: center;
}

.mob-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.mob-link {
  color: var(--blue-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 0 32px;
    max-width: 768px;
  }

  .logo {
    padding: 28px 0;
  }

  .icon-logo {
    width: 127px;
    height: 16px;
  }

  .mob-icon-button,
  .icon-button {
    width: 40px;
    height: 40px;
  }

  .mob-header {
    padding: 0 32px;
    margin-bottom: 150px;
  }

  .mob-list {
    gap: 30px;
  }

  .mob-link {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    padding: 0 60px;
    max-width: 1440px;
  }

  .logo {
    padding: 0;
  }

  .button-header,
  .mob-header {
    display: none;
  }

  .mob-list {
    flex-direction: inherit;
  }

  .nav-item {
    display: flex;
  }

  .mob-link {
    padding: 26px 0;
  }
}
