.hero-section {
    background-image: url(../img/hero-mob.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

}
.hero-container {
    padding-top: 140px;
    padding-bottom: 313px;

}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-container {
        background-image: url(../img/hero-mob2x.jpg)
    }
}

.hero-title {
    color: var(--blue-font, #0A224A);
    font-family: "Playfair Display", Raleway;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 14px;
    max-width: 285px;
    text-transform: uppercase;


}

.hero-text {
    color: var(--blue-font, #0A224A);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    margin-bottom: 28px;
}

.hero-link {
    display: block;
    color: var(--white-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50;
    padding: 12px 65px;
    background-color: var(--blue-font);
    max-width: 224px;
    justify-content: center;
    align-items: center;
}

.hero-link:focus {
    background-color: #061835;
}

.hero-link:hover {
    background-color: #061835;
}

/* --------------------TAB-------------------------- */

@media screen and (min-width: 768px) {
    
.hero-section {
    background-image: none;
}
.hero-container {
    padding-top: 64px;
    padding-bottom: 100px;

    }
.bg-img {
    background-image: url(../img/1hero-tab.jpg), url(../img/2hero-tab.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, right;
    background-size: 308px 329px,
        367px 531px;
    display: flex;
    padding-bottom: 378px;
    height: 530px;
    
}


 @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .bg-img {
            background-image: url(../img/1hero-tab2x.jpg), url(../img/2hero-tab2x.jpg);
        }
    }

.hero-title {
    font-size: 50px;
    max-width: 648px;
    color: var(--blue-font);
    margin-bottom: 0;
    }

.hero-text {
    font-size: 16px;
    max-width: 312px;
    margin-top: 32px;

    
    }
}
/* -------------DESKTOP-------------------- */

@media screen and (min-width: 1440px) {

.hero-container {
    display: flex;
    padding-bottom: 0;
}

.bg-img {
    background-image: url(../img/1hero.jpg), url(../img/2hero.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, bottom right;
    background-size: 310px 329px, 648px 530px;
    display: flex;
    width: 986px;
    margin-right: 25px;
    padding-bottom: 378px;

}
.third-bg-img {
    background-image: url(../img/3hero.jpg);
    background-repeat: no-repeat;
    background-size: 312px 337px;
    width: 100%;
    height: 337px;
    background-position: top right;
    display: flex; 
    
}
.hero-title {

}
.hero-text {
    font-size: 18px;
    }


.img-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.div-text-btn {

    }
}
