.container {
    width: 100%;
    min-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.hero-container {
    background-image: url(./images/hero-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 140px 10px 313px 10px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-container {
        background-image: url(./images/hero-mob2x.jpg)
    }
}

.hero-title {
    font-family: Playfair Display, Raleway;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 140px;
    margin-bottom: 14px;
    max-width: 285px;
    text-transform: uppercase;


}

.hero-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    margin-bottom: 28px;
}

.hero-link {
    margin-bottom: 313px;
    color: #FFF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50;
    padding: 12px 65px;
    background-color: #0A224A;
    max-width: 224px;
    justify-content: center;
    align-items: center;
}

.hero-link:focus {
    background-color: #061835;
}

.hero-link:hover {
    background-color: #061835;
}

@media screen and (min-width: 768px) {
    .container {

        max-width: 712px;

    }

    .hero-container {
        /* background-image: url(./images/2hero-tab.jpg), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(./images/1hero-tab.jpg);
            background-repeat: no-repeat, no-repeat, no-repeat;
            background-position: bottom right, center, bottom left;
            background-size: auto, cover, auto;
            height: 60vh; */
        background-image: none;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 64px 0px 100px 0px;
    }

    .bg-img {
        background-image: url(./images/2hero-tab.jpg), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(./images/1hero-tab.jpg);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: bottom right, center, bottom left;
        background-size: auto, cover, auto;
        height: 70vh;
        margin-bottom: 32px;
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .bg-img {
            background-image: url(./images/1hero-tab2x.jpg), url(./images/2hero-tab2x.jpg);
        }
    }

    .hero-title {
        font-size: 50px;
        max-width: 648px;
        color: #0A224A;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .hero-text {
        font-size: 16px;
        max-width: 312px;
        color: #0A224A;
    }

    .hero-link {
        /* margin-bottom: 100px; */

    }

    .div-text-btn {}
}