.hero-section {
    background-image: url(../img/hero-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.hero-container {
    padding-top: 140px;
    padding-bottom: 313px;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-container {
        background-image: url(../img/hero-mob2x.jpg)
    }
}

.hero-title {
    color: var(--blue-font, #0A224A);
    font-family: "Playfair Display", Raleway;
    font-size: 28px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 14px;
    max-width: 285px;
    text-transform: uppercase;


}

.hero-text {
    color: var(--blue-font, #0A224A);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.50;
    margin-bottom: 28px;
}

.hero-link {
    display: block;
    color: var(--white-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50;
    padding: 12px 65px;
    background-color: var(--blue-font);
    max-width: 224px;
    justify-content: center;
    align-items: center;
}

.hero-link:focus {
    background-color: #061835;
}

.hero-link:hover {
    background-color: #061835;
}

/* --------------------TAB-------------------------- */

@media screen and (min-width: 768px) {
    
.hero-section {
    background-image: none;
}
.hero-container {
    position: relative; /*--для позиціонування заголовка-- */
    padding-top: 64px;
    padding-bottom: 100px; 
    }
/* .bg-img {
    width: 100%;
    height: 70vh; --без зазначення цієї висоти картинки зміщуються вниз--
    display: flex; --для розміщення картинок в ряд- */

.bg-img {
    background-image: url(../img/1hero-tab.jpg), url(../img/2hero-tab.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, right;
    background-size: 308px 329px, 364px 531px;
    display: flex;
    gap: 25px;
    margin-right: 25px;
    height: 70vh;
}
/* .first-bg-img {
    background-image: url(../img/1hero-tab.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    background-position: bottom left;
}
.second-bg-img {
    background-image: url(../img/2hero-tab.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    background-position: bottom right;
} */

 @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .bg-img {
            background-image: url(../img/1hero-tab2x.jpg), url(../img/2hero-tab2x.jpg);
        }
    }

.hero-title {
    font-size: 50px;
    max-width: 648px;
    color: var(--blue-font);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(32px, 64px);
    }

.hero-text {
    font-size: 16px;
    max-width: 312px;
    margin-top: 32px;

    
    }
}
/* -------------DESKTOP-------------------- */

@media screen and (min-width: 1440px) {

.hero-container {
    display: flex;
}
/* .first-bg-img {
    background-image: url(../img/1hero.jpg);
    background-repeat: no-repeat;
    background-size: 310px 329px;
    width: 100%;
    background-position: bottom left;
}
.second-bg-img {
    background-image: url(../img/2hero.jpg);
    background-repeat: no-repeat;
    background-size: 648px 530px;
    width: 100%;
    background-position: bottom center;
}
.third-bg-img{
    background-image: url(../img/3hero.jpg);
    background-repeat: no-repeat;
    background-size: 312px 337px;
    width: 100%;
    height: 70vh;
    background-position: top right;
} */
.bg-img {
    background-image: url(../img/1hero.jpg), url(../img/2hero.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, right;
    background-size: 310px 329px, 648px 530px;
    display: flex;
    width: 986px;
    margin-right: 25px;
}
.third-bg-img {
    background-image: url(../img/3hero.jpg);
    background-repeat: no-repeat;
    background-size: 312px 337px;
    width: 100%;
    height: 70vh;
    background-position: top right;
    
}
.hero-title {
    transform: translate(60px, 64px);
}
.hero-text {
    font-size: 18px;
    }


.img-text {
    
}
.div-text-btn {

    }
}
