.price-container {
  width: 100%;
  padding: 64px 16px 0 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.price-item {
  padding: 30px 0;
  color: var(--blue-font);
  font-family: Roboto;
  font-style: normal;
  line-height: 1.5;
  border-top: 1px solid var(--blue-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-item:last-child {
  border-bottom: 1px solid var(--blue-font);
}

.price-item-name {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
}

.price-item-cost {
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width: 375px) {
  .price-container {
    max-width: 375px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .price-container {
    max-width: 768px;
    padding: 100px 32px 0 32px;
  }

  .price-item-name {
    font-size: 32px;
    line-height: 1.4;
  }

  .price-item-cost {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .price-container {
    max-width: 1440px;
    padding: 100px 172px 0 172px;
  }

  .price-item {
    position: relative;
  }

  .price-item-name {
    display: inline-flex;
    align-items: center;
  }

  .price-item-name::before {
    content: '';
    background-color: var(--blue-font);
    width: 0;
    height: 3px;
    margin-right: 20px;
    transition: width 500ms;
  }

  .price-item-name:hover::before {
    width: 50px;
    transition: width 500ms;
  }
}
