.container {
    width: 100%;
    height: 100%;
    max-width: 375px;
    margin: 0 auto; 
  }

.subscription {
margin-top: 64px;
}
.title {
    display: none;
}



.subtitle {
  color: var(--blue-font, #0A224A);
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.5;
  margin-bottom: 20px;
}

.subscription-paragraph {
    color: var(--blue-font, #0A224A);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.50;
    margin-bottom: 30px;
}

.input-lable{
    display: none;
}

.sub-input {
    
border: 1px solid var(--grey, #D9D9D9);
width: 100%;
height: 40px;

padding: 11px 20px;
background-color: transparent;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
/* margin-bottom: 16px */
}

.sub-input::placeholder {
    color: var(--grey, #D9D9D9);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.50;
  }

  .checkbox  {

  }

  .cb-label {
    color: #7A7A7A;
    font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
/* display: block; */
  }

.cb-icon{
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

  .cb-label-span {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .cb-label span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    
    background-color: transparent;
    border: 1px solid #B6B6B6;
    margin-right: 8px;
    fill: transparent;
    /* vertical-align: text-bottom; */
}

.checkbox:checked + .cb-label span {
    background-color: var(--blue-font);
    border: none;
    fill: white;
    }
    
    .checkbox:focus + .cb-label span {
    
        border-color: var(--blue-font);
       
        }


.form-btn {
    background-color: var(--blue-font);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.50;
    letter-spacing: 0.04em;
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    
    cursor: pointer;
    border: none;

    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}