:root {
  --blue-font: #0A224A;
  --first-background: #7A7A7A;
  --second-background: #B6B6B6;
  --third-background: #D9D9D9;
  --light-blue: #F7FAFF;
  --white-color: #FFF;
  --bg-color: #061835;
  --border-color: #0A224A;
}

body {
  font-family: 'Roboto', sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 375px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    scroll-behavior: smooth;
  }

  .container {
    max-width: 1440px;
    padding: 0 60px;
  }
}

